<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Teste-Estagio</title>
    <link rel="stylesheet" href="style/site.css" />
</head>
<body>
    <header>   
        <a href="https://portaldotrader.com.br"> <img src="image/pt.png" /> </a>
        <h1>Teste de Estágio - Portal do Trader</h1>     
    </header>
    <main>
        <p>
        <h3><strong>Abra o seu <i>Console</i> pressionando o botão f12, e intereja com as opções abaixo:</strong></h3>
        </p>
    </main>   
    <footer>
        <strong> Todos direitos reservados à Portal do Trader </strong>
    </footer>
</body>
</html>