html {
    text-align: center;
    background-color: white;
}

body {
    margin: 0;
    border: 0;
}

header {
    color: purple;
}

main {
    margin: 205px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    color: indigo;
    background-color: gainsboro;
    margin: 0;
}