<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Teste-Estagio</title>
</head>
<body>
    <header>   
        <h1>Teste de Estágio - Portal do Trader</h1>     
    </header>
    <main>
        <p>
        <h3>Navegue com as opções abaixo:</h3>
        </p>
    </main>   
    <footer>
        <strong> Todos direitos reservados à Portal do Trader </strong>
    </footer>
</body>
</html>
