<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Teste-Estagio</title>
</head>
<body>
    <header>   
        <h1>Teste de Estágio - Portal do Trader</h1>     
    </header>
    <main>
          <table>
            <tr>
                <td>Memória</td>
                <td>Quantidade</td>
                <td>Unidade</td>
            </tr>
            <tr for (memo in data.consumo)>
                <td>${memo.memoria}</td>
                <td>${memo.quantidade}</td>
                <td>${memo.unidade}</td>
            </tr>
        </table> 
    </main>   
    <footer>
        <strong> Todos direitos reservados à Portal do Trader </strong>
    </footer>
</body>
</html>